<% content_for :title do %>
  Housing Management Home
<% end %>

<!-- <h1>Housing Management Home</h1> -->

<% content_for :body do %>
  <div class='homepage-link'>
    <%= link_to "Package in", { controller: "packages", action: "new" } %>
  </div>
  <div class='homepage-link'>
    <%= link_to "Package out", { controller: "packages", action: "edit" } %>
  </div>
  <div class='homepage-link'>
    <%= link_to "Manage Reservations", { controller: "reservations", action: "index" } %>
  </div>
  <div class='homepage-link'>
    <%= link_to "Manage Spare Keys", { controller: "spare_keys", action: "index" } %>
  </div>

  <br>

  <div class='homepage-link'>
    <%= link_to "Student Search", { controller: "home_page", action: "student_search" } %>
  </div>
<% end %>
