<p id="notice"><%= notice %></p>

<p>
  <strong>Banner ID:</strong>
  <%= @student.bannerID %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @student.pname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
