<p id="notice"><%= notice %></p>

<h1>Spare Keys</h1>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Keycode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spare_keys.each do |spare_key| %>
      <tr>
        <td><%= spare_key.barcode %></td>
        <td><%= spare_key.keycode %></td>
        <td><%= link_to 'Show', spare_key %></td>
        <td><%= link_to 'Edit', edit_spare_key_path(spare_key) %></td>
        <td><%= link_to 'Destroy', spare_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spare Key', new_spare_key_path %>
